/* Global styles */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: "Roboto", sans-serif;
    -moz-osx-font-smoothing: "Roboto", sans-serif;
    font-style: normal;
    background: var(--bg-shade);
  }
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
:root {
    --heading-color: #282938;
    --bg-shade: #FEE6E4;
    --blue-shade: #CCE8FF;
    --green-shade: #CCFFDA;
    --pink-shade: #FFBDB9;
    --darkblue: #1c1e53;
    --black: #000000;
    --white: #ffffff;
  }
  /* Global css */
/* H1 Heading */
h1 {
    font-size: 140px;
    font-weight: 700;
    line-height: 140% ;
}
/* H2 Heading */
h2 {
    font-size: 120px;
    font-weight: 700;
    line-height: 140% 

}
/* H3 heading */
h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 140% 

}
/* heading style ends */

/* Paragraph Text Large medium small */
.text-lg {
    font-size: 28px;
    font-weight: 700;
    line-height: 27px;
    color: var(--darkblue);
}
.text-md {
    font-size: 30px;
    font-weight: 400;
    line-height: 27px;
    color: var(--darkblue);
    
}
.text-sm {
    font-size: 15px;
    font-weight: 600;
    line-height: 10px;
    color: var(--black);
}
/* Paragraph ends */

  /* Hero section starts */
.hero--section {
    background: var(--bg-shade); 
}
.hero--section--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 220px 130px;
}
.hero--section--title--img{
    display: flex;
}
.Hero--image {
    width: 210px;
    height: auto;
    object-fit: contain;
    display: inline-block;
}
/* Hero Headline starts */
.hero--section--headline {
    display: flex;
    object-fit: contain;
    align-items: center;
    align-self: center;
    padding: 218px 0 0 0;
    gap: 80px;
}
.hero--headline--description {
    font-size: 30px;
    line-height: 45px; 
    margin-bottom: 15px; 
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero--headline-img img{
    width: 200px;
    height: auto;
    flex-shrink: 0;
}
.read--more--link {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    transition: gap 0.3s ease;
}
.read--more--link:hover {
    gap: 30px;    
}
/* Hero Section & Headline ends */

/* Nav bar style starts */

.navbar--box {
    padding: 38px 19px;
}
.navbar--section {
    position: fixed;
}
.navbar--content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0px 19px;
}
.navbar--logo img{
    width: 74px;
    height: auto;
    cursor: pointer;
}
.navbar--buttons > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 80px;
   }
.navbar--buttons > ul > li > a {
    text-decoration: none;  
    color: inherit;  
    font-weight: 500;
    font-size: 1rem;
}
/* NavBar style ends */

/* My Portfolio starts */
.portfolio--section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-shade);
}
.portfolio--section--box{
    display: flex;
    flex-direction: column;
    gap: 62px;
    padding: 200px 0 300px 0;

}
.portfolio--section--display {
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 500px;
}
.portfolio--section--card {
    display: flex;
}
.portfolio--section--img img{
    width: 625px;
    height: 580px;
    object-fit: cover;
    border-radius: 20px;
    transition:  1s 


}


.portfolio--section--card--content {
    width: 450px;
    height: 432px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    margin-left: -55px;
    position: relative;
    margin-top: 74px;
    box-shadow: 0 10px 50px rgba(14, 17, 44, .07);
}
.project--section--title{
    padding: 54px 18px;
    font-weight: 400;
}
.projection--section--description{
    padding: 0 50px 80px 190px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
}
.discover--link{
    padding: 0 50px 80px 190px;
    
}
/* My portfolio ends */

/* Footer style starts */
.footer--section {
    padding: 70px 0 30px 0;
}
.footer--content img{
    width: 210px;
    height: auto;
}

.footer--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background: var(--bg-shade);
    padding: 100px 0 0 0;
}
.footer--socials > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    align-self: center;
    gap: 30px;
    margin: 0;
}
.footer-social-links {
    list-style: none;
    justify-content: center;
    margin: 0;
    margin: 0;
    padding: 0;


}


.footer--socials img{
   width: 20px;
}
.footer--email {
    background: #FFF;
    width: 301px;
    height: 40px;
    border-radius: 90px;
    justify-content: center;
    align-items: center;
    padding: 12px 34px;
    font-family: Outfit, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.375rem;
    transition: all .3s ease-in-out;
    display: flex;
    text-decoration: none;
}
.footer--email a {
    text-decoration: none;
    color: var(--heading-color);
}
.footer--message {
    align-items: center;
}
/* Footer style ends */


